
<div class="col-md-12 login-modal">
  
    <div class="row header">
      <center><%= image_tag "logo_white.png" %></center>
    </div>
    <div class="row welcome">
      <center><h3>Welcome Back</h3></center>
    </div>
    <div class="login-modal-content">
      <form class="form-horizontal" role="form">
        <div class="form-group">        
          <input type="text" class="form-control" placeholder="username">
        </div>
        <div class="form-group">        
          <input type="text" class="form-control" placeholder="password">
        </div>
        <div class="form-group">
          <center><buttn class="btn btn-success">Log in</button></center>
          <center><a href="#">Forgot password</a></center>
        </div>

      </form>
    </div>
</div>