
<div class="col-md-8 col-md-offset-1">
  <div class="col-md-3">
    <%= image_tag 'footer_logo.png' %>
  </div>
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li><a href="#">About Us</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li><a href="#">Follow Us</a></li>
      <li><a href="#">Subscribe Blog</a></li>
      <li><a href="#">Follow us on Twitter</a></li>
      <li><a href="#">Be a fan on Facebook</a></li>
      <li><a href="#">Circle us on Google</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li><a href="#">Marketplace Members</a></li>
      <li>3,611,274</li>
      <li><a href="#">Total Marketplace Items</a></li>
      <li>5,106,195</li>      
    </ul>
  </div>

</div>