<div class="row nav-top-main-menu">
  <div class="col-md-5">    
    <nav class="nav nav-pills nav-justified" role="navigation">
      <li class="citii-active"><a href="#"><%= image_tag 'logo.png' %></a></li>
      <li><a href="#">BROWSE PROJECTS</a></li>
      <li><a href="#">HOW IT WORKS</a></li>      
    </nav>
  </div>
  <div class="col-md-2">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" >
      </div>      
    </form>
  </div>
  <div class="col-md-2"> 
  </div>
  <div class="col-md-3">

    <nav class="nav nav-pills nav-justified">
      <li><a href="#">SIGN UP</a></li>
      <li><a href="#">LOGIN</a></li>
    </nav>
  </div>

</div>