<div class="col-md-2">
  <a href="#">POPULAR CATEGORIES</a>
</div>
<div class="col-md-10">
  <nav class="navbar nav-pills nav-justified" role="navigation">    
    <li><a href="#">BUSINESS</a></li>
    <li><a href="#">GAMING</a></li>      
    <li><a href="#">VIDEOS</a></li>      
    <li><a href="#">PRODUCTS</a></li>          
    <li><a href="#">PETS</a></li>
    <li><a href="#">HOUSE</a></li>      
    <li><a href="#">HOME</a></li>
    <li><a href="#">DESIGN</a></li>      
    <li><a href="#">CHARITY</a></li>      
  </nav>
</div>