<center><h3 class="bold-font">SHARE IDEAS.FUND SOULTIONS.</h3></center>
<center><h5 class="bold-font">Explore, discuss, and fund the new frontier of solutions to the world's problems </h5></center>

<div class="col-md-12">
  <div class="col-md-4 col-md-offset-4">  
    <%=link_to 'Post a Project', new_project_url, class: 'btn btn-success col-md-5' %>    
    <button class="btn btn-success col-md-5 pull-right" data-toggle="modal" href="#login-modal">Sign Up</button>  
  </div>
</div>


<div class="col-md-12 row project-list">
  <div class="project-category col-md-12">    
    
    <ul class="nav nav-pills">
      <li class="active"> <a href="#">POPULAR</a> </li>
      <li> <a href="#">NEW</a></li>
      <li> <a href="#">MOST $ RAISED</a></li>
      <li> <a href="#">MOST VOTED</a></li>
      <li> <a href="#">MOST COMMENTED</a></li>
    </ul>
  
  </div>
  <% @projects.each do |project| %>
    <div class="project-block col-md-3">
      <%= render template:'projects/item', :locals=>{:project=>project} %>
    </div>
  <% end %>

</div>
  
