<center><h3 class="bold-font">SHARE IDEAS.FUND SOULTIONS.</h3></center>
<center><h5 class="bold-font">Explore, discuss, and fund the new frontier of solutions to the world's problems </h5></center>

<div class="col-md-12">
  <div class="col-md-6 col-md-offset-3 adjust-">  
      <button class="btn btn-success col-md-5">Post a Project</button>
      <button class="btn btn-success col-md-5 col-md-offset-1">Sign Up</button>  
  </div>
</div>

<div class="col-md-12 row">

  <div class="project-block col-md-3">
    <div class="col-md-12 project-block-content">
      <div class="col-md-2">    
        <%= image_tag 'polygon.png' %>
        <label class="project-like-number">13,123</label>
      </div>
      <div class="col-md-10">
        <div class="col-md-12">
          <label class="project-raised-label">$1,349.00 Raised</label>
        </div>
        <div class="col-md-12">
          <label class="project-comment">42 Comments</label>
        </div>
      </div>
    </div>
  </div>
  <div class="project-block col-md-3">
    <div class="col-md-12 project-block-content">
      <label class="">Block2</label>
    </div>
  </div>
  <div class="project-block col-md-3">
    <div class="col-md-12 project-block-content">
      <label class="">Block3</label>
    </div>
  </div>
  <div class="project-block col-md-3">
    <div class="col-md-12 project-block-content">
      <label class="">Block4</label>
    </div>
  </div>  
</div>
  
