<div class="col-md-12 project-block-content ">
  <div class="project-block-inner-content">
    <div class="col-md-2"> 
      <div class="row text-center polygon-control">   
        <%= image_tag 'polygon.png' %>
      </div>
      <div class="row text-center">
        <label class="project-like-number">13,123</label>
      </div>
    </div>
    <div class="col-md-10">        
      <div class="row">
        <div class="text-right">
          <label class="project-raised-label">$1,349.00 Raised</label>
        </div>
        <div class="text-right">
          <label class="project-comment-label">42 Comments</label>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <p>Create a daycare teleconferencing network which allows kids from across the world to play game.<a href="col-md">cheer1990</a></p>
      </div>
    </div>
    <div class="col-md-12 project-image">
      <div class="row">
        <a href="#">
          <%= image_tag 'projects/photo1.jpg', class: 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row text-right">
        <a href="#">Community</a>
        <a href="">/</a>
        <a href="#">Technology</a>
      </div>
    </div>
  </div>
</div>