/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap 
 *= require font-awesome 
 *= require_tree .
 */

header {
  height: 51px;
  line-height: 52px;
}

.citii-docs-footer {
  height: 158px;
  background: #00bc47;
  color: #fff;
  font-weight: bold;  
  padding-top: 20px;
} 
.citii-docs-footer li a{
  color: #fff;
}
.citii-active {
  border: 1px solid #acacac;  
}
.citii-active a {
  font-weight: bold;
  color: #00bc47;
}
.nav-top-main-menu {
  border-bottom: 1px solid #acacac;
  
}
.navbar a {
  color: #9d9d9d;
  font-weight: bold;
}
.sub-menu {

}
.bold-font {
  font-weight: bold;
}
.container {
  min-height: 400px;
}