header {
  height: 51px;
  line-height: 52px;
}

.citii-docs-footer {
  height: 158px;
  background: #00bc47;
  color: #fff;
  font-weight: bold;  
  padding-top: 20px;
} 
.citii-docs-footer li a{
  color: #fff;
}
.citii-active {
  border: 1px solid #acacac;  
}
.citii-active a {
  font-weight: bold;
  color: #00bc47;
}
.nav-top-main-menu {
  border-bottom: 1px solid #acacac;
  
}
.navbar a {
  color: #9d9d9d;
  font-weight: bold;
}
.sub-menu {

}
.bold-font {
  font-weight: bold;
}
.container {
  min-height: 400px;
  width: 1310px;
}
.project-block {
  margin-bottom: 10px;  
}
.project-block .project-block-content {
  border: 1px solid #f2f2f2;   
}
.project-block .project-block-inner-content {
  padding: 9px 0px ;
  min-height: 330px;   
}
.project-block .project-raised-label {
  color: #00bc47;
}
.project-block .project-like-number {
  color: #959595;
}
.project-block .project-comment-label {
  color: #cfcfcf;
}
.project-block .polygon-control {
  margin-bottom: 5px;  
}
.project-block a {
  color: #00bc47;
}

.project-list {
  margin-top: 60px;
}

.project-category .nav a {
  color: #cccccc;
  font-weight: bold;
}
.project-category .nav li.active a {
  color: #00a03c;
  background: #fff;
}
.project-category {
  margin-bottom: 10px;
}
input.search-word-input {
  border: 0;
}
.btn-do-search {
  background: #fff;
}
.btn-do-search:hover {
  background: #eee;
}
.new-project-container {
  max-width: 1003px;
  margin: 0 auto;
}
.project-expired-section {
  background: #00bc47;
  color: #fff;
  margin: 3px 0 15px;
}
.project-expired-section h3 {
  margin-top: 10px;
}
.new-project-container .project-title {
  color: #00bc47;
}
.new-project-container .validate-notification {
  font-weight: bold;
  margin-bottom: 0;
}
form h4 {
  color: #00bc47;
}
.project-view-container {
  max-width: 1003px;
  margin: 0 auto;
}
.project-view-container h3 {
  color: #000;
}
.green-color {
  color: #00bc46 !important;
}
.bold-desc {
  font-weight: bold;
  color: #000 !important;
}
.project-view-container span, 
.project-view-container p{
  color: #9c9c9c;
}
.project-view-container .reward {
  color: #eb948c;
}
.social-buttons {
  background: #f4f4f4;
}
.donate-line-bar {
  color: #fff;
  background: #00bc47;
}
.donate-line-bar h3 {
  color: #fff;
}

.donate-line-bar2 {
  color: #343434;
  background: #50d682;
  padding: 6px 0;
  margin-bottom: 15px;
  font-size: 18px;
}
.donate-line-bar2 span {
  color: #343434;
}
.project-view-container a {
  color: #00bc47;
}
.project-view-container .comments-header {
  color: #b7b7b7;
}
.project-view-container .comments-name {
  color: #00bc46;
}
.project-view-container .comment-content {
  padding-left: 10px;
}
.project-view-container .donate-right-panel h3 {
  background: #00bc46;
  color: #fff;
  padding: 20px;
}
.project-view-container .donate-right-panel .even-block {
  background: #feffd9;
}
.project-view-container .donate-right-panel .saying-content {
  padding: 15px 0;
}
.project-view-container .project-title {
  padding: 51px 0 20px;
}
.project-view-container .project-title .header {
  font-size: 24px;
  color: #000;  
}
.btn-donate {
  background: #009236;
}
.project-image-view {
  padding: 30px 0 0;
}
.login-modal {
  max-width: 500px;
  max-height: 500px;
  border: 1px solid #444444;  
}
.login-modal .header {
  background-color: #00bc47;
  padding: 10px 0;
}
.login-modal .welcome {
  color:  #00bc47;
}
.login-modal .login-modal-content {
  padding: 10px 30px;
}














