header {
  height: 51px;
  line-height: 52px;
}

.citii-docs-footer {
  height: 158px;
  background: #00bc47;
  color: #fff;
  font-weight: bold;  
  padding-top: 20px;
} 
.citii-docs-footer li a{
  color: #fff;
}
.citii-active {
  border: 1px solid #acacac;  
}
.citii-active a {
  font-weight: bold;
  color: #00bc47;
}
.nav-top-main-menu {
  border-bottom: 1px solid #acacac;
  
}
.navbar a {
  color: #9d9d9d;
  font-weight: bold;
}
.sub-menu {

}
.bold-font {
  font-weight: bold;
}
.container {
  min-height: 400px;
  width: 1310px;
}
.project-block .project-block-content {
  border: 1px solid #f2f2f2;
  padding-top: 9px;
  height: 350px;  
}
.project-block .project-raised-label {
  color: #00bc47;
}
.project-block .project-like-number {
  color: #959595;
}
.project-block .project-comment-label {
  color: #cfcfcf;
}
.project-block .polygon-control {
  margin-bottom: 5px;  
}
.project-block a {
  color: #00bc47;
}

.project-list {
  margin-top: 60px;
}













